#!/usr/bin/env bash

%{ if debug }
set -x

export DEBUG=1
%{ endif }

# bash strict mode
set -euo pipefail

export GIT_FLAGS='--quiet'
%{ if debug }
export GIT_FLAGS=''
%{ endif }

if ! command -v git 2>&1 >/dev/null; then
  sudo apt-get update -yqq
  sudo apt-get install git -yqq
fi

tmp_dir="$(mktemp -d)"

git clone $GIT_FLAGS ${url} "$tmp_dir"

%{ for env_key, env_value in environment }
export ${env_key}="${env_value}"
%{ endfor ~}

cd "$tmp_dir"

%{ if branch != null }
git $GIT_FLAGS fetch
git $GIT_FLAGS checkout ${branch}
%{ endif }

%{ if debug }
env | sort

ec2metadata
%{ endif }

sudo -E ./install-${script_name}.bash
